.datatable1_1 {
    overflow: hidden;
    width: 802px;
    height: 91px;
    padding: 4px 6px 21px;
    margin-bottom: 16px;
}
.head1{
    float: left;
    width: 142.8px;
    height: 33px;
    color: #e6e5e899;
    text-align: right;
    font-size: 15px;
    padding: 4px 6px;
    border: 1px solid #949DB299;
    font-weight: 400;
}
.content1 {
    float: left;
    width: 142.8px;
    height: 33px;
    color: #FAFAFA;
    text-align: right;
    font-size: 15px;
    padding: 4px 6px;
    border: 1px solid #949DB299;
}
.datatable2_1 {
    overflow: hidden;
    width: 802px;
    height: 91px;
    padding: 4px 6px 21px;
    margin-bottom: 16px;
}
.head2 {
    float: left;
    width: 67.2px;
    height: 33px;
    color: #FAFAFA99;
    text-align: left;
    font-size: 15px;
    padding: 4px 6px;
    border: 1px solid #949DB299;
    font-weight: 400;
}
.content2 {
    float: left;
    width: 67.2px;
    height: 33px;
    color: #FAFAFA;
    text-align: left;
    font-size: 15px;
    padding: 4px 6px;
    border: 1px solid #949DB299;
}
.datatable3_1 {
    width: 802px;
    height: 91px;
    padding: 4px 6px 21px;
    margin-bottom: 16px;
}
.time3_1 {
    float: left;
    width: 264px;
    height: 33.07px;
    font-size: 15px;
    color: #FAFAFA99;
    padding: 4px 6px;
    border: 1px solid #949DB299;
    font-weight: 400;
}
.event3_1 {
    float: left;
    width: 319px;
    height: 33.07px;
    font-size: 15px;
    color: #FAFAFA;
    padding: 4px 6px;
    border: 1px solid #949DB299;
}
.actual3_1 {
    float: left;
    width: 57px;
    height: 33.07px;
    font-size: 15px;
    color: #FAFAFA;
    padding: 4px 6px;
    border: 1px solid #949DB299;
}
.forecast3_1 {
    float: left;
    width: 72px;
    height: 33.07px;
    font-size: 15px;
    color: #FAFAFA;
    padding: 4px 6px;
    border: 1px solid #949DB299;
}
.previous3_1 {
    float: left;
    width: 74px;
    height: 33.07px;
    font-size: 15px;
    color: #FAFAFA;
    padding: 4px 6px;
    border: 1px solid #949DB299;
}
.datatable4_1 {
    width: 802px;
    height: 91px;
    padding: 4px 6px 21px;
    margin-bottom: 16px;
}
.time4_1 {
    float: left;
    width: 120.54px;
    height: 57px;
    font-size: 16px;
    color: #FAFAFA99;
    padding: 4px 6px;
    border: 1.5px solid #949DB299;
    font-weight: 400;
}
.title4_1 {
    float: left;
    width: 660px;
    height: 57px;
    font-size: 15px;
    color: #FAFAFA;
    padding: 16.5px 6px;
    border: 1.5px solid #949DB299;
}
.datatable5_1 {
    width: 802px;
    height: 91px;
    padding: 4px 6px 21px;
    margin-bottom: 16px;
}
.time5_1 {
    float: left;
    width: 101.24px;
    height: 57px;
    font-size: 16px;
    color: #FAFAFA99;
    padding: 4px 6px;
    border: 1px solid #949DB299;
    font-weight: 400;
    margin: 0;
}
.title5_1 {
    float: left;
    display: table;
    width: 685px;
    height: 57px;
    font-size: 16px;
    color: #FAFAFA;
    padding: 5px 6px;
    border: 1px solid #949DB299;
    margin: 0;
}
.box {
    display: table-cell;
    vertical-align: middle;
}
.datatable6_1 {
    width: 802px;
    height: 91px;
    padding: 4px 6px 21px;
    margin-bottom: 16px;
}
.time6_1 {
    float: left;
    width: 200px;
    height: 33px;
    font-size: 16px;
    color: #FAFAFA99;
    padding: 4px 6px;
    border: 1px solid #949DB299;
    font-weight: 400;
}
.title6_1 {
    float: left;
    width: 582px;
    height: 33px;
    font-size: 15px;
    color: #FAFAFA;
    padding: auto 6px;
    border: 1px solid #949DB299;
    padding: 4px 6px;
}
.box {
    padding: auto 0;
}