.nav {
    position: relative;
    display: block;
    background-color: none;
    height: 42px;
    max-width: 704px;
    margin: 0 0 -2px;
    padding: 0 0 2px;
    overflow: hidden;
    margin: 0 0 -2px;
    padding: 0 0 2px;
    border-bottom: 2.5px solid #292B31;  
}
.nav span {
    display: inline-block;
    height: 40px;
    width: fit-content;
    color: white;
    background-color: none;
    font-size: 14px;
    margin: 5.5px 14px 5.5px 0px;
    padding-top: 5px;
}
.nav span:hover {
    cursor: pointer;
    color: #E63B37;
}
.marker {
    position: relative;
    display: block;
    height: 2.5px;
    width: 0px;
    background-color: #FF5352;
    z-index: 50;
    top: 42px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
}
